SUBGRAPH_API_KEY=your-the-graph-api-key
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_SECRET_KEY=your-supabase-service-key
UNISWAP_TOP_POOLS_LIMIT=100
UNISWAP_V3_SUBGRAPHS=[{"network":1,"id":"5zvR82QoaXYFyDEKLZ9t6v9adgnptxYpKpSbxtgVENFV","topPools":100}]